#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.two-scene-container {
  background: #0096c7; /* lighter blue than background, same hue */
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key-selector-buttons-container {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
  background: #0096c7;
  border-radius: 12px;
  padding: 1em 0;
}

.key-selector-btn {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: none;

  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: background 0.2s;

  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  padding-top: .25em;
  margin: .1em;
}

.key-selector-btn:hover {
  background: #e0e0e0;
}


